@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --cl-black: #000;

  --fn-white: #fff;
  --secondary-white: #E1E1E6;
  --table-destaque: #092D38;

  --fn-default: 'Roboto', sans-serif;
  --fn-destaque: 'Roboto Mono', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  min-width: 100vw;

  overflow-x: hidden;

  background: var(--cl-black);

  font-family: var(--fn-default);
  color: var(--fn-white);
}

.hide {
  display: none;
}

#app {
  min-width: 112rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 8.7rem;
}

.title-wrapper {
  display: flex;
  align-items: center;

  gap: .8rem;
}

header h1 {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 2.4rem;
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.input-wrapper input {
  display: flex;
  gap: 1rem;

  width: 46rem;

  padding: 1.6rem;

  border: none;
  border-radius: .5rem;

  background: #06181C;

  color: var(--fn-white);
}

.input-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;

  padding: 1.2rem 3.2rem;

  border: none;
  border-radius: .5rem;

  background: #065E7C;

  color: var(--fn-white);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.round-border {
  border: 1px solid var(--table-destaque);
  border-radius: 1.2rem;

  overflow: hidden;
}

table {
  width: 100%;

  border-collapse: collapse;

  border-radius: 1.2rem;
}

table tbody * {
  color: var(--fn-white);

  font-size: 2rem;
  font-weight: 700;
  line-height: 160%;
  text-align: center;
}

table tr:nth-child(even) {
  background: #06181C;
}

table th {
  background: var(--table-destaque);

  color: var(--secondary-white);
  font-size: 2rem;
  font-weight: 700;
  line-height: 160%;
  font-style: normal;

}

table th:first-child {
  border-top-left-radius: 1.2rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  padding: 2.4rem 2.4rem 2.4rem 4rem;
}

td.user img {
  height: 5.6rem;
  width: 5.6rem;

  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user p {
  font-weight: 400;
  text-align: left;
}

td.action {
  color: red;
}